$white: #f8f8f8;
$black: #090909;

%light {
  font-family: "AnekMalayalam-Light", sans-serif;
  font-weight: 300;
}

%medium {
  font-family: "AnekMalayalam-Medium", sans-serif;
  font-weight: 500;
}

%semiBold {
  font-family: "AnekMalayalam-SemiBold", sans-serif;
  font-weight: 600;
}