$white: #f8f8f8;
$black: #090909;

%light {
  font-family: "AnekMalayalam-Light", sans-serif;
  font-weight: 300;
}

%medium {
  font-family: "AnekMalayalam-Medium", sans-serif;
  font-weight: 500;
}

%semiBold {
  font-family: "AnekMalayalam-SemiBold", sans-serif;
  font-weight: 600;
}

$themes: (
  light: (whiteColor: $white,
    blackColor: $black,
  ),
  dark: (blackColor: $white,
    whiteColor: $black,
  ),
);

@mixin themify($themes: $themes) {
  @each $theme,
  $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key,
      $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}